:root {
  --bs-dark-blue: rgb(45, 38, 119);
  --bs-body-font-family: "Helvetica";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0rem;
}

ul {
  margin-bottom: 0rem;
}

h2 {
  display: flex;
  align-items: center;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}
h2::after {
  content: "";
  background-color: var(--bs-secondary);
  margin-left: 0.5rem;
  height: 2px;
  width: 15%;
}

.my-col-7 {
  max-width: 70%;
}

.my-col-3 {
  max-width: 30%;
}

.contentContainer {
  width: 950px;
  margin: 1rem auto;
  border-radius: 0.5rem;
  overflow: hidden;
}

.profile {
  background-color: rgba(var(--bs-secondary-rgb), 0.1);
  padding: 1rem 1rem 0.5rem;
}
.profile .heading {
  text-align: center;
  margin-bottom: 0.75rem;
}
.profile .heading h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
}
.profile .heading h6 {
  letter-spacing: 1.5px;
}
.profile .bio {
  text-align: justify;
  line-height: 1.3;
}

.links {
  background-color: var(--bs-dark-blue);
  color: var(--bs-white);
  padding: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.links > * {
  width: 100%;
}
.links .link {
  display: flex;
  margin-bottom: 0.25rem;
}
.links .link:last-child {
  margin-bottom: 0rem;
}
.links .link i {
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  float: right;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--bs-warning);
  border: 4px solid white;
  margin-top: -0.5rem;
  transform: translate(calc(100% - var(--bs-gutter-x)));
}

.mainInfo {
  padding: 0.5rem 1rem;
}
.mainInfo > * {
  margin-bottom: 0.5rem;
}
.mainInfo > *:last-child {
  margin-bottom: 0rem;
}
.mainInfo .list {
  position: relative;
  padding-left: 0.25rem;
  list-style: none;
}
.mainInfo .list-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-left: 1rem;
  margin-bottom: 0.25rem;
}
.mainInfo .list-item:last-child {
  margin-bottom: 0rem;
}
.mainInfo .list-item::before {
  position: absolute;
  top: 0.125rem;
  left: 0rem;
  font-family: "Font Awesome 6 Pro";
  content: "\e1a1";
  font-size: 80%;
}
.mainInfo .list-item .content {
  width: 65%;
}
.mainInfo .list-item .content .header {
  font-weight: 500;
}
.mainInfo .list-item .content .body {
  padding-left: 0.375rem;
  opacity: 0.6;
  font-size: 90%;
  line-height: 1.3;
}
.mainInfo .list-item .content .body ul {
  list-style-type: disc;
  padding-left: 0.75rem;
  margin-top: 0.125rem;
}
.mainInfo .list-item .duration {
  width: 35%;
  font-weight: 700;
  text-align: right;
}

.extraInfo {
  padding: 0.5rem 1rem;
  background-color: rgba(var(--bs-secondary-rgb), 0.1);
}
.extraInfo > * {
  margin-bottom: 1.5rem;
}
.extraInfo > *:last-child {
  margin-bottom: 0rem;
}
.extraInfo .list {
  list-style: none;
  padding-left: 0rem;
}
.extraInfo .list-item {
  margin-bottom: 0.75rem;
}
.extraInfo .list-item:last-child {
  margin-bottom: 0rem;
}
.extraInfo .list-item .course {
  font-weight: 600;
}
.extraInfo .list-item .university {
  font-size: 95%;
  font-weight: 600;
}
.extraInfo .list-item .duration {
  font-size: 90%;
  font-weight: 500;
}
.extraInfo .skills ul {
  padding-left: 0rem;
  list-style: none;
}
.extraInfo .skills ul li {
  margin-bottom: 0.5rem;
}/*# sourceMappingURL=style.css.map */